.btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    color:white;
    background-color: #1974D2;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color:#091F92;
}


.error {
    color:red;
    background-color: #f1f1f1;
    font-size: 110%;
}